* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

header {
  background-color: #F5F9FE;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px 0;
  position: relative;
}
header .header_content {
  display: flex;
  justify-content: space-between;
}
header .header_content .header_logo a {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #2A72DC;
}
header .header_content .header_nav {
  display: flex;
  align-items: center;
}
header .header_content .header_nav ul {
  list-style: none;
}
header .header_content .header_nav ul li {
  display: inline-block;
  margin: 0 10px;
}
header .header_content .header_nav ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #1D355E;
  position: relative;
}
header .header_content .header_nav ul li a::before {
  content: "";
  width: 0;
  height: 3px;
  background-color: #2A72DC;
  position: absolute;
  bottom: -10px;
  left: 0;
  transition: all 0.5s;
}
header .header_content .header_nav ul li a:hover::before {
  width: 100%;
}
header .header_content .header_nav ul li.active a {
  color: red;
}
header .header_content .header_nav ul li.active a::before {
  width: 100%;
}
header .header_content .header_nav ul li:nth-child(6) {
  position: relative;
}
header .header_content .header_nav ul li:nth-child(6) input {
  border-radius: 5px;
  border-color: #2A72DC;
  height: 30px;
}
header .header_content .header_nav ul li:nth-child(6) i {
  position: absolute;
  font-size: 15px;
  color: #2A72DC;
  right: 5px;
  line-height: 30px;
  cursor: pointer;
}

.banner {
  background-image: url(../image/product-header-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  padding: 25px 0;
}
.banner .banner_content {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .banner .banner_content {
    display: block;
  }
}
.banner .banner_content .banner_text h1 {
  font-size: 60px;
  font-weight: bold;
  color: #2A72DC;
}
.banner .banner_content .banner_text b {
  margin: 10px 0;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  color: #1D355E;
}
.banner .banner_content .banner_text .group_button button:first-child {
  background-color: #ffffff;
  color: #2A72DC;
  border: 2px solid #2A72DC;
  border-radius: 6px;
  padding: 15px 40px;
  transition: all 0.5s;
  cursor: pointer;
}
.banner .banner_content .banner_text .group_button button:first-child:hover {
  background-color: #2A72DC;
  color: #ffffff;
}
.banner .banner_content .banner_text .group_button button:last-child {
  background-color: #2A72DC;
  color: #ffffff;
  border: 2px solid #2A72DC;
  border-radius: 6px;
  padding: 15px 40px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.716) 0px 5px 15px;
}
.banner .banner_content .banner_text .group_button button:last-child:hover {
  background-color: #ffffff;
  color: #2A72DC;
}
.banner .banner_content .banner_text .group_button button i {
  margin-right: 5px;
}
.banner .banner_content .banner_image img {
  height: 600px;
}
@media screen and (max-width: 576px) {
  .banner .banner_content .banner_image img {
    width: 100%;
  }
}

.brand {
  padding: 50px 0;
}
.brand .brand_title {
  font-size: 33px;
  font-weight: bold;
  color: #1D355E;
  text-align: center;
}
.brand .brand_filter {
  text-align: center;
  margin-top: 20px;
}
.brand .brand_filter label {
  margin: 8px 0 8px 30px;
  font-size: 18px;
  display: inline;
  cursor: pointer;
}
.brand .brand_filter label input {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.products {
  padding: 50px 0;
}
.products .product_title {
  font-size: 33px;
  font-weight: bold;
  color: #1D355E;
  text-align: center;
  margin-bottom: 15px;
}
.products .product_title button {
  background-color: #2A72DC;
  color: #ffffff;
  border: 2px solid #2A72DC;
  border-radius: 6px;
  padding: 15px 40px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.716) 0px 5px 15px;
  font-size: 20px;
  padding: 12px 20px;
}
.products .product_title button:hover {
  background-color: #ffffff;
  color: #2A72DC;
}
.products .product_title button i {
  margin-right: 5px;
}
.products .product_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.products .product_content img {
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 6px;
}
.products .product_content .product_item {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 6px;
  padding: 15px;
}
.products .product_content .product_item .item_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 75px;
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #2A72DC;
}
.products .product_content .product_item .sub_title {
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
  color: #1D355E;
}
.products .product_content .product_item .product_action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products .product_content .product_item .product_action .rating {
  color: #F9D310;
}
.products .product_content .product_item .product_action .buy_now {
  background-color: #2A72DC;
  color: #ffffff;
  border: 2px solid #2A72DC;
  border-radius: 6px;
  padding: 15px 40px;
  transition: all 0.5s;
  cursor: pointer;
}
.products .product_content .product_item .product_action .buy_now:hover {
  background-color: #ffffff;
  color: #2A72DC;
}

.cart {
  margin: auto;
  text-align: center;
  padding: 50px 0;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #F5F9FE;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
  height: 400vh;
  width: 400px;
  right: -100%;
  transition: all 0.5s ease;
}
.cart i {
  cursor: pointer;
  color: red;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.cart .cart_title {
  font-size: 33px;
  font-weight: bold;
  color: #1D355E;
  text-align: center;
}
.cart table {
  width: 100%;
}
.cart table tbody tr td {
  border-bottom: 1px solid #ddd;
  padding: 12px 0;
}
.cart table tbody tr td:first-child span {
  display: block;
}
.cart table tbody tr td span {
  font-weight: bold;
  font-size: 15px;
}
.cart table tbody tr td .btn-quantity {
  width: 20px;
}
.cart table tbody tr td img {
  width: 70px;
}

footer {
  width: 100%;
  background-color: #2A72DC;
  padding: 30px 0;
}
footer .row-footer {
  display: flex;
}
footer .row-footer .col-footer {
  width: 50%;
  color: #ffffff;
  padding: 0 10px;
  align-items: center;
  justify-content: space-between;
  margin-left: 17%;
}
footer .row-footer .col-footer .info-title {
  font-size: 17px;
  padding: 6px 0;
}
footer .row-footer .col-footer .list-footer {
  padding-top: 8px;
  padding-left: 0;
}
footer .row-footer .col-footer .list-footer .a-of-li {
  text-decoration: none;
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s;
  cursor: pointer;
  list-style: none;
}
footer .row-footer .col-footer .list-footer .a-of-li:hover {
  color: #ffffff;
}
footer .row-footer .col-footer .list-footer .a-of-li .item-footer {
  color: var(--text-mini) !important;
  margin-bottom: 15px;
  font-size: 13px;
}
footer .row-footer .col-footer .list-footer .a-of-li .item-footer:hover {
  color: #ffffff !important;
}/*# sourceMappingURL=style.css.map */