// tổ chức biến
$blue_color_1 : #2A72DC;
$yellow_color_1 : #F9D310;
$blue_color_2 : #1D355E;
$gray_color_1 : #F5F9FE;
$white_color : #ffffff;

// biến font size
$logo_fs_1 : 24px;
$title_h1_fs_1: 60px;
$nav_fs_1 : 16px;
$title_h2_fs_1 : 33px;
$desc_fs_1 : 18px;